---
layout: blog
title: Blog
permalink: /blog/
---
{% for post in site.posts %}
<article class="post">
{% if post.image %}
    <div class="post-thumb">
        <img class="img-responsive" src="{{ post.image }}" alt="" />
    </div><!--//post-thumb-->
{% endif %}
    <div class="content">
        <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <div class="meta">
            <ul class="meta-list list-inline">                                       
            	<li class="post-time post_date date updated">{{ post.date | date: "%-d %B %Y" }}</li>
            	<li class="post-author"> by <a href="#">{{ post.author }}</a></li>
        	</ul><!--//meta-list-->                           	
        </div><!--meta-->
        <div class="post-entry">
        <p>{{ post.excerpt }}</p>
        <a class="read-more" href="{{ post.url }}">Read more <i class="fa fa-long-arrow-right"></i></a>
        </div>
    </div>
</article><!--//post-->
{% endfor %}