<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]--> 
{% include head.html %}
<body class="blog-page">
    <div class="wrapper">
    {% include header.html %}

        <!-- ******BLOG****** --> 
        <div class="blog container">            
            <div class="row">
                <div id="blog-entry" class="blog-entry section col-md-8 col-sm-8 col-xs-12">                 
                    <article class="post">
                        <h2 class="title">{{ page.title }}</h2>
                        <div class="meta">
                            <ul class="meta-list list-inline">                                       
                                <li class="post-time post_date date updated">{{ page.date | date: "%-d %B %Y" }}</li>
                                <li class="post-author"> by <a href="#">{{ page.author }}</a></li>
                            </ul><!--//meta-list-->                             
                        </div><!--meta-->
{% if page.image %}
                        <div class="post-thumb">
                            <img class="img-responsive" src="{{ page.image }}" alt="" />
                        </div><!--//post-thumb-->
{% endif %}
						<div class="content">
							{{ content }}
						</div>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

                        <nav class="post-nav">
                                <span class="nav-previous"><a href="#" rel="prev"><i class="fa fa-long-arrow-left"></i>Previous</a></span>
                                <span class="nav-next"><a href="#" rel="next">Next<i class="fa fa-long-arrow-right"></i></a></span>
                        </nav><!--//post-nav-->

{% if page.comments %}
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = '{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//coworkme.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
{% endif %}
                    </article><!--//post-->                                      
                </div><!--//blog-entry-->

            {% include blog.sidebar.html %}
            </div><!--//row-->
        </div><!--//blog-->

    </div><!--//wrapper-->
    {% include footer.html %}
    {% include footer.javascript.html %}
    {% include modal/login.html %}
    {% include modal/signup.html %}
  </body>
</html>