    <!-- Signup Modal -->
    <div class="modal modal-signup" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="signupModalLabel" class="modal-title text-center">Want to experience Coworking?</h4>
                    <p class="intro text-center">Sign up below and we'll let you know when we launch</p>
                    <p></p>
                </div>
                <div class="modal-body">
                    <div class="login-form-container">
                        <form class="login-form">                
                            <div class="form-group name">
                                <label class="sr-only" for="signup-name">Your Name</label>
                                <input id="signup-name" name="signup-name" type="text" class="form-control login-name" placeholder="Your name">
                            </div><!--//form-group-->
                            <div class="form-group email">
                                <label class="sr-only" for="signup-email">Your email</label>
                                <input id="signup-email" name="signup-email" type="email" class="form-control login-email" placeholder="Your email">
                            </div><!--//form-group-->

                    </div><!--//login-form-container-->
                </div><!--//modal-body-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-block btn-cta-primary">Sign up</button>
                </div><!--//modal-footer-->
                        </form>
            </div><!--//modal-content-->
        </div><!--//modal-dialog-->
    </div><!--//modal-->